In [1]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

In [2]:
#Iterate through the list of high schools and print out each high school
for i in high_schools:
    print(i)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [3]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [4]:
# Iterate through the list of dictionaries and print out each high school and their types
for i in high_school_types:
    print(i)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [5]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [7]:
# Add the Pandas dependency.
import pandas as pd

In [8]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [25]:
# Iterate through the school_series and print out each high school.
for school in school_series[14]:
    print(school)

T
h
o
m
a
s

H
i
g
h

S
c
h
o
o
l

In [27]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [31]:
# convert the array, or list of dictionaries, to a DataFrame
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [37]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [38]:
# Initialize a new DataFrame.
schools_df2 = pd.DataFrame()

In [39]:
# Add the list to a new DataFrame.
schools_df2["School ID"] = school_id
schools_df2["School Name"] = school_name
schools_df2["Type"] = type_of_school

In [40]:
# Print the DataFrame.
schools_df2

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [48]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [49]:
# Create a dictionary of information on high schools.
high_schools_dict2 = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [50]:
# Initialize a new DataFrame.
high_schools_dict2 = pd.DataFrame(high_schools_dict2)

In [51]:
# Print the DataFrame.
high_schools_dict2

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [56]:
# List of high school id
high_school_id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

#list of high school types
high_school_type = ["District", "District", "Charter", "District", "Charter", "Charter", "Charter", "District", "Charter", "Charter", "Charter", "District", "District", "District", "Charter"]

In [57]:
# Initialize a new DataFrame.
high_schools_df2 = pd.DataFrame()

In [58]:
# Add the list to a new DataFrame.
high_schools_df2["High School ID"] = high_school_id
high_schools_df2["High School Name"] = high_schools
high_schools_df2["High School Type"] = high_school_type

In [59]:
high_schools_df2

    High School ID       High School Name High School Type
0                0      Huang High School         District
1                1   Figueroa High School         District
2                2    Shelton High School          Charter
3                3  Hernandez High School         District
4                4    Griffin High School          Charter
5                5     Wilson High School          Charter
6                6    Cabrera High School          Charter
7                7     Bailey High School         District
8                8     Holden High School          Charter
9                9       Pena High School          Charter
10              10     Wright High School          Charter
11              11  Rodriguez High School         District
12              12    Johnson High School         District
13              13       Ford High School         District
14              14     Thomas High School          Charter